body{
	background: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.v1{
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	color: white;
	text-shadow: 2px 2px crimson, 4px 4px Turquoise;
	border-bottom: none;
}

.subtitle{
	margin-top: 0px;
	font-size: 25px;
	margin-left: 5px;
}

.text1{
	margin-right: 40px;
	opacity:0;
}
.text1:hover{
	opacity:100;
	fad
}

video {
	width: 400px;
	margin: 0 50px 50px 0;
}
.themes{
	display: flex;
	justify-content: space-between;
	border-bottom: 10px;
	margin-right: 10px;
}
.theme1{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 90px;
	border-bottom: 20px;

}

.theme2{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 110px;
	border-bottom: 20px;
}

.theme3{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 70px;
}

.theme4{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 100px;
}


.nav {
	background-color: blue;
}


.videos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
	color: white;
	font-size: 17 px;
}
.subtitle2{
	margin-top: 0px;
	font-size: 25px;
	margin-left: 5px;
}

.text2{
	padding: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
	border-right: 40px;
	border-left: 30px;
	padding-bottom: 40 px;
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 20px;
}

.subtitle3{
	margin-top: 0px;
	font-size: 25px;
	margin-left: 5px;
}

