body{
	background: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.v1{
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	color: white;
	text-shadow: 2px 2px crimson, 4px 4px Turquoise;
	border-bottom: none;
}

.subtitle{
	margin-top: 0px;
	font-size: 25px;
	margin-left: 5px;
}

.text1{
	margin-right: 40px;
	padding-right: 40px;
	padding-left: 40px;
	opacity:0;
}
.text1:hover{
	opacity:100;
}

video {
	width: 400px;
	margin: 0 50px 50px 0;
}
.themes{
	display: flex;
	justify-content: space-between;
	border-bottom: 10px;
	margin-right: 10px;
}
.theme1{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 90px;
	border-bottom: 20px;

}

.theme2{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 110px;
	border-bottom: 20px;
}

.theme3{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 70px;
}

.theme4{
	background: crimson;
	padding: 5px;
	width: 200px;
	word-spacing: 100px;
}


.nav {
	background-color: blue;
}


.videos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
	color: white;
	font-size: 17 px;
}
.subtitle2{
	margin-top: 0px;
	font-size: 25px;
	margin-left: 5px;
}

.text2{
	padding: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
	border-right: 40px;
	border-left: 30px;
	padding-bottom: 40 px;
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 20px;
}

.subtitle3{
	padding-top: 60px;
	font-size: 25px;
	margin-left: 5px;
}

.type1{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
    	typing 8s steps(40, end),
    	blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white; }
}

.type2{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
    	typing 8s steps(40, end),
    	blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white; }
}
.type3{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
    	typing 8s steps(40, end),
    	blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white; }
}
