h1{
	display: flex;
	justify-content: center;
}
h2{
	display: flex;
	justify-content: center;
}


/*.process{
  display: flex;
  flex-direction: row;
  justify-content: center;
}*/

div.step1{
	background-color: cadetblue;
	position: static;
	width: 300px;
	height: 2000 px;
}
	img {
		max-width: 90%;
		height: auto;
		border-width: 20px;
		justify-content: center;
	}

div.step2{
	background-color: teal;
	position: relative;
	width: 400px;
	height: 3000 px;
}
	img {
		max-width: 90%;
		height: auto;
		border: 20px;
		justify-content: center;
	}
