
body {
  background-color:  white;
}

section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}

#glass {
	height: 900px;
	width: 1000px;
}

.button {
  padding: 20px 50px;
  border-radius: 30px;
  background-color:  white;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.hide {
	display: none;
}


.button:hover {
  cursor:  pointer;
 
}

.buttonOn {
  background-color: ;
  color:  white;
}

.light {
  background-color: papayawhip;
}