body{
	/*background-color: black;*/
}
h1{
	color: teal;
	display: flex;
	justify-content: center;
}
h2{
	color: turquoise;
	display: flex;
	justify-content: center;
	text-decoration: none;
	font-size: 14px;
	word-spacing: inherit;
}


}
.background{
	/*color: white;
	display: inline-block;*/
}
.text {
	display: flex;
	flex-direction:  column;
	color: yellow;
}
.column-1, .column-2 {
	width:  50%;
	
}

.column-1 {
  padding-right:  0;
  padding-bottom:  50px;
}