

body {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
  color: midnightblue;
}

/* i'm using the z index to move the slider on top of the container */
.container {
  z-index: 0;
  display:  flex;
  font-family: 'Lora', serif;
  font-size:  15vw;
  align-items: center;
  /*justify-content: center;*/
  height: 100vh;
  letter-spacing: 1px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}



.slider {
  z-index: 1;
  margin-top: 2em;
  border: 1px solid black;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 500px; /* Specified height */
    height: 50px; /* Specified height */
    background: lightgrey; /* background color */
    outline: none; /* Remove outline */
    opacity: 0.4; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: all .2s;
  }

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  border: 1px dotted black;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  /*border-radius: 50%; /* Make it a circle */
  background: navy; /*  background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: navy;
  cursor: pointer; /* Cursor on hover */
}

.copy {
  font-family: arial;
  font-size: 100px;
  color: white;
  width:400px;
}
